body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: white;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

header h1
{
margin-left: 20px;
}

nav {
display: flex;
align-items: center;
}

nav a {
color: white;
text-decoration: none;
margin-left: 20px;
}

section {
padding: 20px;
}

section h2 {
margin-bottom: 10px;
margin-left: 48%;
}

section .details {
display: flex;
align-items: center;
margin-bottom: 20px;
}

.details img {
  flex: 1;
  object-fit: contain;
  margin-right: 20px;
}
.project contents{
  flex: 4;
}
.project a {
color: blue;
text-decoration: none;
margin-right: 10px;
}
.project h3{
  align-content: center;
}
footer {
background-color: #333;
color: white;
text-align: center;
padding: 10px;
}
